.L25 {
  background-color: yellow;
  color: rgb(40, 52, 63);
}
.L50 {
  background-color: blue;
  color: aliceblue;
}
.L75 {
  color: blanchedalmond;
  background-color: blueviolet;
}
.L100 {
  color: blue;
  background-color: aqua;
}
